.view-ride-modal {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #abe2df;
  overflow: auto;
  outline: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;
}

.view-ride-modal h3 {
  margin: 32px 0 8px;
}

.view-ride-info {
  background: #ffffff;
  border-radius: 3px;
  padding: 16px;
  max-width: 900px;
  width: 90%;
  text-align: center;
}

.view-ride-info h4 {
  font-size: 14px;
  margin: 8px 0;
}

.view-ride-info hr {
  border: none;
  border-top: solid 2px #cccccc;
  width: 60%;
  margin: 24px auto;
}

.view-ride-info p {
  margin: 0;
  font-size: 13px;
}

.view-ride-modal .day-container {
  max-width: 900px;
  width: 90%;
  padding: 8px;
  background: #ffffff;
  border: solid 1px #1d9eae;
  margin: 2px 0;
  text-align: center;
}
